{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["ie >= 9"]
      }
    }]
  ],
  "plugins": [
    ["import", { "libraryName": "iview", "libraryDirectory": "src/components" }],
    "transform-runtime", "syntax-dynamic-import"
  ]
}
